.header--text {
  margin: auto;
  max-width: 750px;
  text-align: center;
  text-decoration: none;
}

.header--text > a {
  text-decoration: none;
  font-size: 30px;
}

.header--text:hover {
  background-color: black;
}

.hide-below {
  width: 200px;
}

.hide-below .hide-this {
  max-height: 0;
  overflow: hidden;
  background: #d5d5d5;
  transition: max-height 0.15s ease-out;
}

.hide-below:hover .hide-this {
  max-height: 200px;
}
